@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, html {
    @apply text-lg font-normal cursor-default font-pretendard h-screen w-screen
  }

  li {
    @apply font-extralight
  }

  h1 {
    @apply font-medium
  }

  #root {
    @apply h-full
  }
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sarala-regular";
  src: url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");
  font-style: normal;
}

@layer components {
  .blind {
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    color: transparent !important;
    clip: rect(0px, 0px, 0px, 0px) !important;
  }
}
